*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.header{
    border-color: #FFFFFF;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    width: 100%;
}

.logo-span{
    color: #2196F3;
}
.logo{
    color: #000000;
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.menu_list{
    display: flex;
    color: #212121;
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    gap: 30px;
}

.contacts-list{
    display: flex;
    color: #757575;
    position: absolute;
    width: 135px;
    height: 16px;
    left: 900px;
    top: 32px;
    gap: 30px;
}

a:hover{
    color: #2196F3;
    border-bottom: 3px solid #2196F3 ;
    border-radius: 2px;
    padding-bottom: 15px;
}

li{
    display: inline;
}

.link{
    color: #000000;
}

.linklink{
    color: #757575;
}